<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body class="bg-dark">
    <div class="container text-white">
      <h2 class="mt-5 text-center">Welcome to Brain Tumor Classification</h2>
      <div class="d-flex justify-content-center">
        <a href="{{ url_for('upload') }}" class="btn btn-primary mt-3"
          >Brain Tumor Classification</a
        >
      </div>
      <div class="d-flex justify-content-around mt-5">
        <div>
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            style="width: 150px"
            alt="Avatar"
          />
          <p class="text-center">Arnob Mohajan</p>
        </div>
        <div>
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            style="width: 150px"
            alt="Avatar"
          />
          <p class="text-center">Amanat Ullah Mahmud</p>
        </div>
        <div>
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            style="width: 150px"
            alt="Avatar"
          />
          <p class="text-center">Turjo</p>
        </div>
      </div>
    </div>
  </body>
</html>
